<form action="/cats/edit/{{ _id }}?_method=PUT" method="POST" class="cat-form" enctype="multipart/form-data">
  <h2>Edit Cat</h2>
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="{{ name }}">
  <label for="description">Description</label>
  <textarea id="description" name="description">{{ description }}</textarea>
  <label for="image">Image</label>
  <input type="file" id="image" name="upload">
  <label for="group">Breed</label>
  <select id="group" name="breed">
    <option value="{{ breed }}">{{ breed }}</option>
    {{#each breeds}}
    <option value="{{ this.name }}">{{ this.name }}</option>
    {{/each}}
  </select>
  <button>Edit Cat</button>
</form>