<div class="shoes">
  {{#each shoes}}
  <div class="shoe">
    <img src="{{ imageUrl }}">
    <h3>{{ name }}</h3>
    <a href="/shoes/details/{{ _id }}">Buy it for ${{ price }}</a>
  </div>
  {{else}}
  <h1>No shoes to display. Be the first to create a new offer...</h1>
  {{/each}}
</div>

{{!-- https://i1.t4s.cz/products/ar4149-001/nike-air-zoom-pegasus-36-gs-251390-ar4149-001.jpeg --}}
{{!-- https://www.shooos.bg/media/catalog/product/cache/20/image/9df78eab33525d08d6e5fb8d27136e95/a/d/adidas-falcon-cg6211.jpg --}}
{{!-- https://i1.t4s.cz/products/3023295-602/under-armour-ua-w-hovr-phantom-se-trek-263676-3023295-603.jpg --}}
{{!-- https://admin.startfitness.co.uk/media/catalog/product/r/e/reebok-crossfit-nano-9-0-fu6827.jpg --}}
